* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
html {
	scroll-behavior: smooth;
}
body {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1720px;
  padding-right: 10px;
  padding-left:  10px;
  /*border: 1px solid black;*/
  font-family: Roboto,sans-serif;
}
header {
	border-bottom: 1px solid #ffd700;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
	box-shadow: 0 15px 10px rgba(238, 238, 238, 0.7);
}
/*.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 1;
	padding: 15px 10%;
}*/
main {
	/*background: linear-gradient(rgba(191, 155, 48, 0.2), rgba(15, 82, 186, 0.8));*/
}
/*.navbar {
	display: flex;
	background-color: lavenderblush;
}*/
.navbar a {
	color: black;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease 0s;
	position: relative;
	font-size: 18px;

}
.navbar a:hover {
  /*background: linear-gradient(rgba(191, 155, 48, 0.2), rgba(255, 191, 0, 0.8));*/
  background: linear-gradient(gold, #b29700);
  /*Эти два свойства спорный момент*/
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  cursor: pointer;
}
.navbar a:hover:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.nav_logo {
	padding: 14px 20px;
	display: inline-block;
}

/*DROPDOWN MENU*/
.dropdown{
  position: relative;
}

.dropbtn {
  background-color: #D4AF37;
  color: white;
  padding: 9px;
  margin-left: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 2;
}

.dropdown:hover .dropbtn {
  /*background-color: #3e8e41;*/
  background-color: #213159;
}

/*Стили страницы номеров*/

.gold_line {
	width: 100%;
	border: 1px solid gold;
	margin-bottom: 5px;
	/*background-color: gold;*/
}

.room_block1 {
	display: flex;
	border-bottom: 1px solid #ffd700;
	margin-bottom: 20px;
}
.room_img {
	width: 50%;
	height: 650px;
	/*border: 2px solid #ffd700;*/
	margin-bottom: 20px;
	overflow: hidden;
	display: flex;
  	justify-content: center;
  	align-items: center;

}

.room_img img {
	max-width: 100%;
	height: 100%;
	padding: 15px;
	transition: transform .4s;
}
.room_img img:hover {
	transform: scale(1.2);
}

.room_pic {
	max-width: 100%;
	height: 100%;
	background: url(images/photo-1568495248636-6432b97bd949.jpg) center no-repeat;
	/*background-size: contain;*/
}

.room_description {
	width: 50%;
	height: 650px;
	/*border: 2px solid #0F52BA;*/
	margin-bottom: 20px;
	/*background: linear-gradient(rgba(191, 155, 48, 0.9), rgba(15, 82, 186, 0.7));	*/
	/*background: linear-gradient(#0F52BA, #ffd700);*/
	/*background-color: #0070BB;*/
	/*background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
	/*background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);*/
	/*background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);*/


	/*background-color: #2D5DA1;*/
	/*background: rgba(203,96,179,1);
    background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);*/
    /*background-color: #0F52BA;*/
    background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;

}
.rooms_title {
	/*color: black;*/
	color: white;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.rooms_desc {
	/*color: black;*/
	color: white;
	margin-left: 15px;
	margin-bottom: 10px;
}
.rooms_images {
	width: 100%;
	height: 200px;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	

}
.rooms_images div {
	width: 90px;
	height: 90px;
	border: 1px solid gold;
}

.rooms_images div img {
	width: 100%;
	height: 100%;
}
.frame_style {
	width: 95%;
	height: 620px;
	border: 3px outset #ffd700;
	/*background-color: white;*/
	/*background-color: #0F52BA;*/
	background-color: #213159;
	position: relative;

}

.img_wrap {
	width: 95%;
	height: 95%;
	/*border: 1px solid red;*/
	/*margin: auto auto;*/
	border: 3px outset #ffd700;
	overflow: hidden;  
	display: flex;
  	justify-content: center;
  	align-items: center;

}


.img_wrap2 {
	width: 95%;
	height: 95%;
	/*border: 1px solid red;*/
	/*margin: auto auto;*/
	/*border: 1px solid white;*/
	border: 3px outset #ffd700;
	overflow: hidden;  
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.upBtn {
	width: 50px;
	height: 50px;
	/*background-color: rgba(255,255,255, 0.7);*/
	background-color: rgba(166,124,0, 0.7);
	display: none;
	position: -webkit-fixed;
  	position: fixed;
  	bottom: 20px;
  	right: 5%;
  	border: none;
  	outline: none;
  	border-radius: 5px;
  	cursor: pointer;
  	/*padding: 15px;*/
  	transition: 2s ease-in-out;
  	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
  	


	z-index: 1;
}

.upBtn img {
	width: 22px;
	height: 22px;
}


.btn_book {
	background-color: #a67c00;
	/*border: none;*/
	color: white;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	padding: 10px 18px;
	transition-duration: 0.4s;
	border: 1px solid white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	display: block;
	margin-left: 15px;
	outline: none;
	
}

.btn_book:hover {
	/*background-color: #ffd700;*/
	background: linear-gradient(#ffd700, #ffe140);
	border: 1px solid white;
	color: black;
	box-shadow: 0 0 10px rgb(255,215,0);
	cursor: pointer;
}

.sml_img_shad:hover {
	cursor: pointer;
}

/*FOOTER*/
.footer {
	/*border: 1px solid #ffd700;*/
	/*background-color: #333;
	background-image: linear-gradient(135deg, #333, #333 40%, white);*/
	/*background-color: #e8a93f;*/
	background-color: #A67E1C;
}

.footer_inf {
	margin-top: 20px;
	margin-left: 20px;
}

.footer_h2 {
	padding-top: 10px;
	margin-bottom: 15px;
}

address {
	font-style: normal;
}
.addr_txt_style {
	margin-bottom: 15px;
}

.footer_owner {
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer_hotel {
	display: flex;
	justify-content: center;
	width: 100%;	
}


/*ТЕНИ*/
.sml_img_shad {

 	-webkit-box-shadow: 3px 3px 4px 0px #333;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 	-moz-box-shadow: 3px 3px 4px 0px #333;  /* Firefox 3.5 - 3.6 */
  		 box-shadow: 3px 3px 4px 0px #333;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}